server:
  listen: 0.0.0.0
  port: 7777
apps:
  - token: aaaaaaaaaaaaaaaa
    file: template_a.yaml
    allin:
      - 手动选择
  - token: bbbbbbbbbbbbbbbb
    file: https://xxx.xxx/xxx.txt
    allin:
      - 自动选择