server:
  listen: 0.0.0.0
  port: 7777
apps:
  - token: aaaaaaaaaaaaaaaa
    name: aaa.aaa
    templates:
      - type: clash
        file: clash.yml
      - type: surge
        file: surge.conf
  - token: bbbbbbbbbbbbbbbb
    name: bbb
    templates:
      - type: clash
        file: https://xxx.xxx/xxx.txt
other:
  surge_allow_export_comment: False
